name: Publish

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+rc[0-9]+"
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PIXI_VERSION: v0.57.0

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-pixi
      - name: Build release
        run: pixi run --manifest-path pixi.toml build-release
      - name: Upload conda channel
        uses: actions/upload-artifact@v4
        with:
          name: release-artifacts
          path: |
            /tmp/ecoscope-workflows-custom/release/artifacts/
            !/tmp/ecoscope-workflows-custom/release/artifacts/bld
            !/tmp/ecoscope-workflows-custom/release/artifacts/src_cache
          if-no-files-found: error
          compression-level: 0

  publish-to-prefix:
    needs:
      - build-release
    if: startsWith(github.ref, 'refs/tags/')

    runs-on: ubuntu-latest
    steps:
      - name: Download conda channel
        uses: actions/download-artifact@v4
        with:
          name: release-artifacts
          path: /tmp/ecoscope-workflows-custom/release/artifacts
      - name: Log conda channel contents
        run: ls -lR /tmp/ecoscope-workflows-custom/release/artifacts

      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-pixi
      - name: Publish to prefix.dev
        env:
          PREFIX_API_KEY: ${{ secrets.PREFIX_API_KEY }}
        run: pixi run --manifest-path pixi.toml -e default bash -c "./publish/push.sh"
