name: Test Workflows with Published Packages

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  discover:
    uses: ./.github/workflows/_discover.yml

  recompile-workflows:
    needs: [discover]
    uses: ./.github/workflows/_recompile.yml
    with:
      workflows: ${{ needs.discover.outputs.workflows }}
      download-artifacts: false

  test-workflows:
    needs: [discover]
    if: needs.discover.outputs.pairs != '[]'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include: ${{ fromJson(needs.discover.outputs.pairs) }}
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-pixi

      - name: Write GEE key to file
        env:
          EE_KEY_JSON: ${{ secrets.EE_KEY_JSON }}
        if: env.EE_KEY_JSON != ''
        run: |
          echo "${{ secrets.EE_KEY_JSON }}" > gee-key.json

      - name: Run a workflow test case
        env:
          # Add your GitHub secrets here
          # They will be available to the workflow
          ECOSCOPE_WORKFLOWS__CONNECTIONS__EARTHRANGER__STE__SERVER: ${{ secrets.STE_SERVER }}
          ECOSCOPE_WORKFLOWS__CONNECTIONS__EARTHRANGER__STE__PASSWORD: ${{ secrets.STE_PASSWORD }}
          ECOSCOPE_WORKFLOWS__CONNECTIONS__EARTHRANGER__STE__USERNAME: ${{ secrets.STE_USERNAME }}
          ECOSCOPE_WORKFLOWS__CONNECTIONS__EARTHENGINE__ECOSCOPE_POC__SERVICE_ACCOUNT: ${{ secrets.EE_SERVICE_ACCOUNT }}
          ecoscope_workflows__connections__earthengine__ecoscope_poc__private_key: ${{ github.workspace }}/gee-key.json
        #   # Add more secrets as needed
        run: |
          chmod +x dev/pytest-cli.sh || true
          ./dev/pytest-cli.sh ${{ matrix.workflow }} ${{ matrix.case }}


# todo: check version/channel
# todo: run on all os
# todo: check no changes in src